<%- include("partials/header.ejs") %>

 <div class="list">
    <h1>Your List</h1>
    <form action="/submit" method="POST">
      <input type="text" placeholder="New Task" class="list-input">
      <input type="submit" value="+" class="submit-button">
    </form>
 </div>   
