*{
    margin:0;
    padding:0;
}

body{
    background-color: rgb(37, 37, 37);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-list{
    background-color: white;
    border-radius: 1rem;
}

.list {
    background-color: #dd4130;
    padding : 10px 0; 
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 15px;
    width : 400px;
    border-radius: 0.5rem;
    padding: 20px;
    margin:auto;
    border: none;
}

.list-input{
    width : 75%;
    height : fit-content;
    /* min-height: 35px; */
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 1rem;
}

.list-input:focus{
    outline: none;
}

.submit-button{
    height : 43px;
    width : 76px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: center;
    margin: auto;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: #dd4130;
    border: none;
    border-radius: 1rem;
}

.submit-button:hover{
    cursor: pointer;
}

input[type=checkbox]:checked + .item{
    text-decoration: line-through;
}

.added-elements ul{
    width: 100%;
    margin-top : 0;
    border-radius: 1rem;
}

.added-elements  ul li {
    background-color: white;
    list-style: none;
    padding : 12px;
    /* margin : 10px; */
    margin-bottom: 10px;
    max-width: 100%;
    border-radius: 1rem;
    color: #dd4130;
    word-wrap: break-word;
}

.added-elements  ul li input{
    margin-right: 10px;
}

.added-elements{
    width: 100%;
    margin-top: 20px;
}

